
*.editorconfig
.vs/EncounterMeWF/v16/.suo
BusinessLogic/bin/Debug/net5.0/BusinessLogic.dll
BusinessLogic/bin/Debug/net5.0/BusinessLogic.pdb
BusinessLogic/bin/Debug/net5.0/ref/BusinessLogic.dll
BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
*.props
*.targets
*.cache
*.cache
BusinessLogic/obj/Debug/net5.0/BusinessLogic.dll
BusinessLogic/obj/Debug/net5.0/BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
BusinessLogic/obj/Debug/net5.0/BusinessLogic.pdb
BusinessLogic/obj/Debug/net5.0/ref/BusinessLogic.dll
BusinessLogic/obj/project.assets.json
BusinessLogic/obj/project.nuget.cache
EncounterMeWF/bin/Debug/net5.0-windows/EncounterMeWF.dll
